@media screen and (min-width: 240px) 
{
	body 
	{
		font-family:Sakkal Majalla;
		font-size: 3.2vw;
		background-image: url('png/background.png');
		background-repeat:  repeat;
		background-attachment:fixed;
		background-size: 100% 100%;
		width: 95vw;
		height: 95vh;
	}

	div#main 
	{
		font-size: 3vw;
	}
}
div#details
{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:left;
	margin-left:-40px;
	margin-right:-10px;
}
.message-label 
{
	background-color: #4CAF50; /* Green background for success */
	color: white;
	font-size: 0.7em;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity 1s ease-out; /* Smooth transition for fading */
	text-align: center;
	position: fixed; /* Essential: Positions the element relative to the browser window */
	top: 10px;
	right: 0px;
	z-index: 9999999999;
	display:none;
}
.message-label.hidden 
{
	opacity: 0;
	/* Optionally, you can also use display: none after the transition */
	/* transition-delay: 1s; */
}

.imagecart:hover 
{
	content: url('./png/cart5.png');
	cursor: pointer;
}
.emptycart:hover 
{
	content: url('./png/empty-cart2.png');
	cursor: pointer;
}
.imagecart 
{
	width:8vw;
	margin-left:2vw;
	margin-right:8vwpx;
	margin-top:10px;
}
.round
{
	position:relative;
	margin-left:-3vw;
	top:1vw;
}
.items
{
	color:WHITE;
	position:relative;
	margin-left:-3vw;
	padding-top:-2vw;
}
.emptycart 
{
	width:6vw;
	margin-left:1vw;
	margin-top:0px;
}
.cart
{
	position:absolute;
	top: 0;
	left: 0;
}
.order
{
	position:absolute;
	left:0vw;
	width:12vw;
	display:none;
}
.logo
{
	width:10vw;
	margin-left:13vw;
	margin-top:2vw;
}
.form-popup {
  display: none;
  position: fixed;
  top: 1vw;
  right: 3vw;
  border: 3px solid #f1f1f1;
  z-index: 9;
  border: none;
}

/* Add styles to the form container */
.form-container {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 2vw;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 60%;
  height:8%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
  border-radius: 1vw;
  margin-top:1vw;
}
.form-container label 
{
  font-size:clamp(0.8rem, 2.5vw, 2rem);
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  margin-top:1vw;
  background-color: #04AA6D;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height:8vh;
  border-radius: 10vw;
  margin-bottom:0.5vh;
  opacity: 0.8;
}
.form-container .btn2 {
  margin-top:1vw;
  background-color: #C3C3C3;
  color: white;
  border: none;
  width: 100%;
  height:8vh;
  border-radius: 10vw;
  margin-bottom:0.5vh;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
input[type="submit"]{
  width: 50px;
}
.mobile-container 
{
  max-width: auto;
  margin: auto;
  background-color: transparent;
  height: auto;
  color: black;
  border-radius: 10px;
}
.topnav 
{	
	position: fixed;
	top:1vw;
	right: 4px;
	z-index:2;
	overflow: hidden;
	background-color: #333;
	width:25%;
	height:100%;
	border-radius:0.5vw;
}
.category 
{
	font-family: Sakkal Majalla;
	direction: rtl;
	text-align: center;
	width: fit-content;
	display: inline-block;
	border-radius: 2vw;
	margin: 2px;
    padding: 0px; /* Removes default padding */
	font-size: clamp(0.5rem, 2.3vw, 3rem);
	height: 40%; /* Adjust this value as needed */
	overflow-y: auto;
}

.page
{
	position:absolute;
	top:7vw;
	padding-left:16px;
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	width: 80%;
	height: auto;
}
.container
{
	position:relative;
	width:auto;
	height:auto;
}
a:link 
{
	text-decoration: none;
}
.topnav div a.active
{
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.icon 
{
  float: right;
}
.topnav a:hover 
{
  background-color: #ddd;
  color: black;
}
.category li a {
  color: #232d39!important;
	border-radius: 5px;
}

.category li:hover a {
  color: #ed563b!important;
	border-radius:5px;
}

.category li a.active {
  color: #ed563b!important;
	border-radius: 10px;
}

.category li
{
    display: inline-block;
	background-color: #ccc;
	border-radius: 0.5vw;
	border: 2px outset orange;
    margin-right: 1vh; /* Adds spacing between list items */
	font-size: clamp(0.5rem, 3vh, 2rem);
	margin-bottom: 2px;
}